

.field-commerce-customer-billing  span.field-label,
.field-commerce-customer-shipping  span.field-label,
.link-field-title .description {
	display: none;
}

.ief-product-details .form-item label {
	float: none;
}

.node-type-osu-catalog-publication table th {
	background: #AFAFAF;
}

/*.node-type-osu-catalog-publication div.view-estimates-expenses {
	margin-top: 50px;
	margin-left: 240px;
}*/

/*form#osu-catalog-publication-node-form.node-form div div.vertical-tabs div.vertical-tabs-panes fieldset#edit-group_estimates.field-group-tab div.fieldset-wrapper .view-display-id-expense_block {
  margin: 0;
}*/


.page-admin-people .edit-uid {
	width: 250px;
}


/* link or file upload styles */
div.form-item-field-link-or-upload-und {
  display: inline-block;
  margin-bottom: 0;
}

#edit-field-link-or-upload p {
  margin: 0;
}

div.form-item-field-link-or-upload-und .form-item label.option {
  padding-left: 0;
}

div.form-item-field-link-or-upload-und div.form-type-radio {
  margin-right: 2em;
}

.form-radios .form-item  {
    margin-bottom: 0;
}

#edit-field-preview-file {
  margin-top: 1em;
}

/* make "Product catalog" vertical tab go away */
ul.vertical-tabs-list li.vertical-tab-button:nth-child(7) {
  display: none;
}

div#edit-field-pdf-file.field-type-entityreference .form-type-managed-file label {
  display: none;
}


/* Overrides for inline-entity-form */
div.fieldset-description {
  padding
  color: #666666;
  font-size: 13px;
  line-height: 1.231em;
  margin: 5px 0;
  font-weight: 100;
}

.field-widget-inline-entity-form fieldset {
  border: none;
}

.page-node-add-estimates-expenses .vertical-tabs .form-type-textfield input,
.node-type-estimates-expenses .vertical-tabs .form-type-textfield input,
#edit-field-estimate-entity-ref-und-form  .form-type-textfield input {
  width: inherit;
}

/* add some spacing above h3 tags on my workbench page */
.my-workbench h3 {
  padding-top: 1.0em;
}

.page-admin-workbench .attachment-before {
  display: none;
}

.page-admin-workbench .commerce-backoffice-view .views-exposed-form .views-widget-filter-combine input {
  background: white url("images/search.png") no-repeat right center;
  padding: 3px 20px 3px 5px;
}

.page-admin-workbench div.view-id-catman_inventory {
    margin-top: 0;
}

.kitten {
  background-image: url('cute-kitten.gif');
  background-repeat: no-repeat;
  background-position: left top;
  min-height: 100px;
  padding-left: 100px;
}

.form-item-field-publication-date-value-min label,
.form-item-field-publication-date-value-max label,
.form-item-field-date-reviewed-value-min label,
.form-item-field-date-reviewed-value-max label {
  display: none !important;
}

.views-widget-filter-field_publication_date_value label,
.views-widget-filter-field_date-reviewed_value label {
  vertical-align: top;
}

/*.views-exposed-widgets .views-exposed-widget label,
.views-exposed-widgets .views-exposed-widget .views-widget {
  display: inline-flex;
}*/

/*hierarchical_select overrides*/

tr.dropbox-entry.odd {
  background-color: transparent;
  border-bottom: 1px solid #CCCCCC;
}

.hierarchical-select-wrapper .hierarchical-select select,
.hierarchical-select-wrapper .hierarchical-select .add-to-dropbox,
.hierarchical-select-wrapper .hierarchical-select .create-new-item {
  min-height: 1.875em;
}

/*hide html vertical tab for now*/
ul.vertical-tabs-list li:nth-child(6) {
  display: none;
}






