body {
  font: normal 75%/1.1 "Open Sans", Arial, sans-serif !important;
  color: #000;
  background-color: #fff;
}

#console {
  display: none; /*this is where system messages are displayed*/
}


.catman-invoice-header {
  float: right;
  margin-bottom: 40px;
}

a {
  text-decoration: none;
  color: #000;
}

#branding,
#footer {
  display: none;
}

/* Catman reports printing */
.catman-reports form,
div.tabs-secondary,
table th.views-field-operations-dropbutton,
table td.views-field-operations-dropbutton {
  display: none;
}

.catman-invoice-created {
  margin-bottom: 10px;
}

/*.ds-2col-stacked-fluid > .group-left {
  padding-right: 20px;
}

.ds-2col-stacked-fluid > .group-right {
  padding-left: 20px;
}*/

.entity-catman-invoice h3 {
  font-family: "Open Sans", Arial, sans-serif !important;
  font-size: 100%;
}

#console {
  display: none;
}

/*.group-left h3 {
  margin-top: 90px;
}*/


/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-weight: 400;
}

/*.payment-table table {
  margin-top: 10px;
}*/

table th {
  background: #fff;
  color: #000;
  font-weight: 500;
  padding: 5px 10px;
  text-align: left;
  white-space: nowrap;
  border-color: #BEBFB9;
  border-style: solid;
  border-width: 1px;
}

table th.views-align-right {
  text-align: right;
}

table td {
  padding: 5px 10px !important;
  background: #fff;
  text-align: left;
  border-color: #E0E0E0;
  border-style: solid;
  border-width: 1px;
}



tbody tr:nth-child(even) {
  background: none repeat scroll 0 0 #F1F1F1;
  border-color: #BEBFB9;
  border-style: solid;
  border-width: 1px;
}


.balance-due {
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
}

.attachment-before table.views-table {
  font-size: 1.75em;
  margin-bottom: 1.250em;
}

.catman-reports .view-header {
  font-size: 2.25em;
}

.catman-reports .view-grouping-header {
  font-size: 2.0em;
}

/* proposal form print styles*/
.page-node-submission .content > div.clearfix,
.page-node-submission .webform-submission-info legend {
  display: none;
}

.page-node-submission fieldset {
  border: none;
}

.page-node-submissio div.fieldset-description {
  font-size: 12px;
  line-height: 1.1;
  margin: 0 5px 0 0;
  color: #ddd;
}

.page-node-submission .form-item label {
  padding-left: 0;
}

div.webform-component-display,
.page-node-submission .form-item {
  padding-left: 15px;
}

.submitted-date {
  margin-bottom: 20px;
}



